html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    margin: 0;
    text-align: center;
    background-color:#e2ded0;
}
/* header */

header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px #000;
    align-items: center;
    background-color: #1D3754;
    color:#e2ded0;
}

header ul {
    display: inline-flex;
    justify-content: space-around;
    width: 30rem;
    list-style: none;
    align-items: center;
}
header ul li {
    align-self: cener;
}

header a {
    text-decoration: none;
    color: #000;
    opacity: 0.9;
    color: #e2ded0;
}

.name {
    margin-left: 30px;
}

/* hero */

.hero {
   display: flex; 
   background-image: url("./Resources/photo-1486297678162-eb2a19b0a32d.avif");
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   height: auto;
   background-color: #fff;
   align-items: center;
   justify-content: center;
   height: 696px;
}

.hero_content_container {
    background-color: #1D3754;
    width: 100%;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.hero_content {
    font-family: sans-serif;
    color:#e2ded0;
}

/* Portfolio */
.port {
    background-color: #1D3754;
    padding: 30px;
}
.port h2{
    color:#e2ded0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 750px;
    justify-content: space-around;
    align-content: center;
    background-color:#1D3754;
}

.portfolio_content {
    background-color: #1D3754;
    padding: 30px;
    color: #e2ded0;
    flex-shrink: 1;
}

.portfolio_content img {
    max-width: 350px;
    max-height: 250px;
    min-width: 350px;
    min-height: 250px;
    flex-shrink: 1;
}


@media only screen and (max-width: 1250px) {
    .portfolio {
        height: auto;
    }

    .portfolio_content img {
        max-width: 100%;
        max-height: auto;
        min-width:auto;
        min-height: auto;
    }
}

/* Team */

.team {
    width: 100%;
    height: 650px;
    background-color:#e2ded0;
    color:#1D3754;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.team_container {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.team_item {
    padding: 30px;
}

.team_item img {
    max-width: 270px;
    max-height: 405px;
    min-width: 270px;
    min-height: 405px;
}

@media only screen and (max-width: 1250px) {
    .team {
        height: auto;
    }
}

/* Footer */

footer {
    background-color: #1D3754;
    color:#e2ded0;
    padding-top: 30px;
}

.copiright {
    text-align: left;
    padding: 30px;
}